.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate-button {
  width: 500px;
  // font-size: 200px;
  // padding: 1000px;
}

.btn-warning {
  font-size: 200px;
  padding: 1000px;
}

.generate-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0
}

.form-content {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}

.redirect-idea-container {
  display: flex;
  justify-content: center;
}

.input-box {
  width: 500px;
}